#contact-us{
    display: flex;
    width: var(--img-size-pc);
    padding-left: 30px;
    margin: auto;

    box-shadow: 4px 4px 10px var(--cardColor);
}
#contact-us>*{
    flex:2;
}
#contact-us .left{
    display: flex;
    flex-direction: column;
    flex: 1;
}
#contact-us .left h1{
    font-family: HeadingFont;
    color: var(--text);
}
#contact-us form>*{
    display: block;
    font-family: ContentFont;
    color: var(--text);
}
#contact-us input[type="text"],
#contact-us input[type="number"],
#contact-us input[type="email"],
#contact-us textarea{
    background-color: var(--cardColor);
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    
}
#contact-us textarea{
    resize: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#contact-us input[type="submit"]{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: var(--text);
    color: white;
    padding: 5px;
    border-radius: 10px;
    
    color: var(--bg);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    transition: box-shadow 0.5s;

    width: 150px;

}
#contact-us input[type="submit"]:hover{
    box-shadow: 0px 0px 20px var(--cardColor);
}
#contact-us .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}