:root{
   --bg: #F2DAB7;
   --text: #4E5A72;
   --cardColor: #BF5670;
   --cardShadow: #6D4156;

   --img-size-pc: 1200px; 

   background-color: var(--bg);
}
@font-face {
    font-family: CurveFont;
    src: url(../font/ImperialScript-Regular.ttf);
}
@font-face {
    font-family: BoldFont;
    src: url(../font/Righteous-Regular.ttf);
}
@font-face {
    font-family: HeadingFont;
    src: url(../font/DMSerifDisplay-Regular.ttf);
}
@font-face {
    font-family: ContentFont;
    src: url(../font/Bitter-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
}
body{
    position: relative;
    padding: 0;
    margin: 0;
    font-family: ContentFont;
    overflow-x: hidden;
    margin: auto;

}
.hoverable{
    position: relative;
}
.hoverable::before ,.hoverable::after{
    content: "";
    position: absolute;
    width: 120%;
    left: -10%;
    height: 100%;
    background-color: white;
    mask-image: url(../img/border.png);
    mask-size: cover;
    mask-position: center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.hoverable::before{
    bottom: 100%;
}
.hoverable::after{
    top: 100%;
    transform: rotate(180deg);
}
.hoverable:hover::before ,.hoverable:hover::after{
    opacity: 1;
}

footer{
    height: 300px;
    background-color: var(--cardColor);
    margin-top: 30px;
}