:root{
   --bg: #F2DAB7;
   --text: #4E5A72;
   --cardColor: #BF5670;
   --cardShadow: #6D4156;

   background-color: var(--bg);
}
@font-face {
    font-family: CurveFont;
    src: url(/font/ImperialScript-Regular.ttf);
}
@font-face {
    font-family: BoldFont;
    src: url(/font/Righteous-Regular.ttf);
}
@font-face {
    font-family: HeadingFont;
    src: url(/font/DMSerifDisplay-Regular.ttf);
}
@font-face {
    font-family: ContentFont;
    src: url(/font/Bitter-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
}
body{
    position: relative;
    padding: 0;
    margin: 0;
    font-family: ContentFont;
    overflow-x: hidden;

}
nav{
    position: sticky;
    z-index: 100;
    top: 0;
    height: 10vh;

    background-color: var(--cardColor);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 9vh;
    padding-left: 1rem;
}

#links a{
    text-decoration: none;
    color: var(--bg);
    margin-right: 1rem;
}
#links a:hover{
}
.hoverable{
    position: relative;
}
.hoverable::before ,.hoverable::after{
    content: "";
    position: absolute;
    width: 120%;
    left: -10%;
    height: 100%;
    background-color: var(--bg);
    mask-image: url(/img/border.png);
    mask-size: cover;
    mask-position: center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.hoverable::before{
    bottom: 100%;
}
.hoverable::after{
    top: 100%;
    transform: rotate(180deg);
}
.hoverable:hover::before ,.hoverable:hover::after{
    opacity: 1;
}