:root{
   --bg: #F2DAB7;
   --text: #4E5A72;
   --cardColor: #BF5670;
   --cardShadow: #6D4156;

   background-color: var(--bg);
   box-sizing: border-box;
}
@font-face {
    font-family: CurveFont;
    src: url(./font/ImperialScript-Regular.ttf);
}
@font-face {
    font-family: BoldFont;
    src: url(./font/Righteous-Regular.ttf);
}
@font-face {
    font-family: HeadingFont;
    src: url(./font/DMSerifDisplay-Regular.ttf);
}
@font-face {
    font-family: ContentFont;
    src: url(./font/Bitter-VariableFont_wght.ttf);
}

body,body>div{
    min-height: 100vh;
    padding: 0;
    margin: 0;

    font-family: ContentFont;
}
nav{
    position: relative;
    height: 10vh;
    width: 100vw;
    background-color: var(--cardColor);

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 8vh;
    margin-left: 1rem;
}

#links a{
    text-decoration: none;
    color: var(--bg);
    margin-right: 1rem;
}
#links a:hover{
}
.hoverable{
    position: relative;
}
.hoverable::before ,.hoverable::after{
    content: "";
    position: absolute;
    width: 120%;
    left: -10%;
    height: 100%;
    background-color: var(--bg);
    mask-image: url(./img/border.png);
    mask-size: cover;
    mask-position: center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.hoverable::before{
    bottom: 100%;
}
.hoverable::after{
    top: 100%;
    transform: rotate(180deg);
}
.hoverable:hover::before ,.hoverable:hover::after{
    opacity: 1;
}
.photo-holder img{
    position: relative;
    filter: brightness(0.8) sepia(10%);
}