#why{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
#why h1{
    font-family: HeadingFont;
    flex: 1;
    height: 100%;
    margin: auto;
}
#why .temp{
    width: 50px;
}
#why .temp::after{
    content: '';
    position: absolute;

    width: 5px;
    height: 100%;
    background-color: black;
}
#why p{
    font-family: ContentFont;
    flex: 1;
    max-width: 30ch;
}